{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Business name"
            },
            value: {
              text: data['business-name']
            },
            actions: {
              items: [
                {
                  href: "/business-name",
                  text: "Change",
                  visuallyHiddenText: "business name"
                }
              ]
            }
          },
          {
            key: {
              text: "Property address"
            },
            value: {
              html: data['address-line-1'] + '<br>' + 
                    (data['address-line-2'] + '<br>' if data['address-line-2'] else '') +
                    data['address-town'] + '<br>' +
                    (data['address-county'] + '<br>' if data['address-county'] else '') +
                    data['address-postcode']
            },
            actions: {
              items: [
                {
                  href: "/user-address",
                  text: "Change",
                  visuallyHiddenText: "property address"
                }
              ]
            }
          },
          {
            key: {
              text: "National Grid reference"
            },
            value: {
              text: data['national-grid-reference']
            },
            actions: {
              items: [
                {
                  href: "/national-grid",
                  text: "Change",
                  visuallyHiddenText: "National Grid reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Available space"
            },
            value: {
              text: data['available-space'] + " sq ft"
            },
            actions: {
              items: [
                {
                  href: "/turbine-space",
                  text: "Change",
                  visuallyHiddenText: "available space"
                }
              ]
            }
          },
          {
            key: {
              text: "20-year commitment"
            },
            value: {
              text: data['commitment-agreed']
            },
            actions: {
              items: [
                {
                  href: "/turbine-space",
                  text: "Change",
                  visuallyHiddenText: "20-year commitment"
                }
              ]
            }
          },
          {
            key: {
              text: "Preferred assembly date"
            },
            value: {
              text: data['assembly-date-day'] + "/" + data['assembly-date-month'] + "/" + data['assembly-date-year']
            },
            actions: {
              items: [
                {
                  href: "/assembly-date",
                  text: "Change",
                  visuallyHiddenText: "preferred assembly date"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
